<%= form_with(model: agenda) do |form| %>
  <% if agenda.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(agenda.errors.count, "error") %> prohibited this agenda from being saved:</h2>

      <ul>
        <% agenda.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :professional_id, style: "display: block" %>
    <%= form.text_field :professional_id %>
  </div>

  <div>
    <%= form.label :place_name, style: "display: block" %>
    <%= form.text_field :place_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
